@font-face {
    font-family: UbuntuMono;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/UbuntuMono-R.ttf");
}

.vbox-view {
    -fx-background-color: "#F0F0F0";
    -fx-margin: 0 0 30px 0;
}

.open-button {
    -fx-background-color: Transparent;
    -fx-border-insets: 0 10 0 0;
    -fx-font-size: 20;
    -fx-text-fill: "#282828";
    -fx-background-radius: 0px;
}

.open-button:hover {
    -fx-background-color: "#D3D3D3";
}

.program-name-container {
    -fx-font-size: 28;
    -fx-font-family: 'Ubuntu Mono';
}

.text-accepted {
    -fx-background-color: "#71d980";
}

.text-error {
    -fx-background-color: "#f2211d";
}

.text-selected {
    -fx-background-color: "#4058f5";
    -fx-padding: 0 0 10px 0;
    -fx-text-alignment: top;
}

.open-file-container {
    -fx-font-size: 16;
}